*{
    padding: 0; 
    margin: 0;
    box-sizing: content-box;
    font-family: "Poppins", sans-serif;}
 :root{
    --color:#2355ca
 }
 
 .full{width: 100vw;height: 100vh;}
 .navBar{
    /* height: 4rem; */
    padding-inline: 2rem;
   
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.606);
    align-items: center;
 }
 .navTop{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
 }
 .navLeft{
    display: flex;
 
 }
 .navLeft span{
    font-size: xx-large;
    font-weight: 700;
    color: var(--color);
 }
 .searchBox{
    margin-left: 10px;
    display: flex;
    border:0.5px solid grey;
    border-radius: 100px;
    overflow: hidden;
    align-items: center;
    padding-right: 5px;
 }
 .searchBox input{
    width: 25vw;
    padding: 5px 10px;
    outline: none;
    border: none;
 }
 .searchBut{
    height: fit-content;
    border-radius: 100%;
    padding: 7px;
    background-color: var(--color);
 }
 .searchBox i{
    color: #ffff;
 }
 .navBot{
    margin-top: 10px;
    list-style-type: none;
    display: flex;
 }
 .navBot li{
    padding: 10px;
    cursor: pointer;
 }
 .navBot li.pageSelected{
    border-bottom:5px solid var(--color);
    color: var(--color);
    font-weight: 700;
 }
 
 